<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="acknowledgement-div">
        <span>Made with</span> <i class="fa fa-heart" style="color: red;">  </i> <span>in INDIA</span>
    </div>
</footer>