<link rel="stylesheet" href="/css/home.css">

<div class="res-outer-container">
    <h1 class="team-heading">Have a Tag in Mind? Scrape it from Medium ASAP!...</h1>
</div>

<div class="white-container">
    <div class="content-container">
        <h2 class="content-heading">Curated Resources by Medium.com</span></h2>
            <p class="content-para">Just Enter the Tag Name you wanna explore articles around on medium !</p>

            <div class="search-container">
                <!-- <form id="search-form" class="search-box" action="/search/tag" method="get"> -->
                    <div  id="search-form" class="search-box">

                        <input id="searchBox" type="text" name="searchTag" class="form-control"placeholder="Search for Tags here..." required>
                        <button id="search-button" class="search-btn"> Search Tag
                        </button>
                    </div>
                    
                    <!-- </form> -->
                    
                    <!-- <div class="filters">
                        <i class="fas fa-filter"></i>
                    </div> -->
                    
                </div>
                <div class="search-tag-div"></div>
    </div>    

    <div id="card-list" class="card-group card-grid">
        
    </div>
      <div id="next-blogs" class="next-blog">
         <input id="searchTag" type="hidden" name="searchTag"> 
         <input id="next" type="hidden" name="next"> 
         <button id="next-blogs-button"class="search-btn"> Crawl Next Blogs
        </button>
    </div>
      <!-- <button id="next-blogs" class="search-btn">Crawl Next Blogs</button> -->
      <div id="not-found" class="not-found">
        <div class="not-container">
            <img src="images/sad_search.png">
            <p>Oops! No results found. <br> Try searching for these tags instead.</p>    
        </div>
        <div class="suggested-tag-div" style="display: flex-row;"></div>
    </div>
      <!-- <a id="#next-blogs" href=""><button>Crawl Next Blogs</button></a> -->
</div>



<script src="/js/search.js"></script>
