<link rel="stylesheet" href="/css/home.css">

<div class="res-outer-container">
    <h1 class="team-heading">The best collection of Blockchain Resources</h1>
</div>

<div class="white-container">
    <div class="content-container">
        <h2 class="content-heading">Curated Resources by us</span></h2>
            <p class="content-para">These resources are a good place to start learning about Blockchain, Cryptocurrency and various concepts related to them.</p>

            <div class="search-container">
                <form id="search-form" class="search-box" action="/search/tag" method="post">
                    <input id="searchBox" type="text" name="searchTag" class="form-control"placeholder="Search for Tags here...">
                    <button class="search-btn" type="submit"> Search Tag
                    </button>
                </form>

                <!-- <div class="filters">
                    <i class="fas fa-filter"></i>
                </div> -->

            </div>
    </div>    

    <div id="card-list" class="card-group card-grid">
        
      </div>
</div>



<script src="/js/search.js"></script>