
.res-outer-container {
    background-color: #070059;
    min-height: 35vh;
    display: flex;
    align-items: center;
}
.team-heading {
	font-weight: 600;
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 3rem;
    color:#ebebeb;
}
.white-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    padding: 2rem 0;
}

.white-container .section-heading {
    margin: 0;
}

.content-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    max-width: 1200px;
}


.content-heading {
    /* background: linear-gradient(135deg, #f07bff 0%, #b71cff 50%, #ee69ff 100%); */
    color: #070059;
    /* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    font-size: 2.5rem;
    line-height: 150%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    text-align: center;
}

.content-para {
    line-height: 140%;
    color: #6e7581;
    max-width: 40rem;
    margin: auto;
    text-align: center;

}
.search-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    margin: 1rem auto 0 auto;
    /* margin-top: 1rem; */
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 60%;
    margin: auto;
}

.search-box i {
    font-size: 1.5rem;
    color: #7a7892;

}

.search-box input {
    height: 3rem;
    width: 60%;
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 3px 8px #dde5f0e1);
    /* border: 2px solid rgb(226, 226, 243); */
    color: #000000;
    padding: 4px 2rem;
    font-size: 1rem;
    outline: none;
    margin: auto;
}

.search-box input:focus {
    filter: drop-shadow(0px 3px 16px #e1deffd2);
    transform: scale(1.03);
    transition: all 0.1s ease-in-out;
}


.search-btn {
    padding: 1rem;
    margin-left: 0.5rem;
    background: none;
    background-color: #070059;
    color: white;
    border-radius: 50px;
    /* background-color: rgb(246, 242, 255); */
}

.search-btn:hover {
    /* filter: drop-shadow(3px 3px 7px #cdd8e7); */
    background: none;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
    background-color: #070059;
    color: white;
}

.filters i {
    font-size: 1.5rem;
    color: #7a7892;
}

.filters i:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}
.card-grid{
    display: flex;
    height: auto;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    justify-content: space-around;
}
.card-grid>div{
    min-width: 30%;
    max-width: 30%;
    margin: 1%;
}
.card{
    margin: 30px;
}
#not-found{
    display: none;
    margin-top: -8%;
}
.not-container {
    width: 100%;
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-tag-div{
    display: none;
    margin-left: 15%;
}

.not-container img {
    width: 8rem;
    opacity: 70%;
    /* height:auto; */
    margin: 0 auto;
}
.suggested-tag-div{
    display: flex;
    width: 100%;
    justify-content: center;
    /* left: 20%; */
    align-items: center;
    /* -ms-flex-direction: row-reverse; */
}

#next-blogs{
    position:fixed;
    top: 50%;left:0;
    display: none;
}